@import 'oldsite/fonts_roboto';
@import 'oldsite/bootstrap';
@import 'oldsite/select2';
@import 'oldsite/owl';
@import 'oldsite/fancybox';
@import 'oldsite/animate';
@import 'oldsite/splash-icons';
@import 'oldsite/skin-custom';
@import 'oldsite/splash';
@import 'oldsite/form-basic';
@import 'oldsite/js_composer';
@import 'fonts/font_fontawesome';

#main {
  padding: 0 !important;
}

.vc_custom_1462188886536 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;

  background-color: #f0f0f0 !important;
}

.vc_custom_1480096154746 {
  margin-top: 40px !important;
  margin-bottom: 42px !important;
}

.vc_custom_1476628522539 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.vc_custom_1476626466570 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.vc_custom_1476628266511 {
  background-color: rgba(10, 10, 10, .4) !important;

  *background-color: rgb(10, 10, 10) !important;
}

.vc_custom_1476628284054 {
  background-color: rgba(0, 0, 0, .4) !important;

  *background-color: rgb(0, 0, 0) !important;
}
.owl-dot{
  &.active{
    span{
    background-color:red;
  }
  }
}
.stm-title-box-title-wrapper{

h3{
  a{
    text-decoration: none;
    color: #111;
  }
}
}
